.background{
    -fx-background-color: lightgrey;
}

.combobox{
    -fx-cursor: pointer;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-font-size: 16px;
    -fx-border-radius: 20;
    -fx-border-color: black;
    -fx-background-radius: 20;
    -fx-pref-width: 180;
    -fx-pref-height: 40;
    -fx-background-color: linear-gradient(#ffff66, #ffcc00);
    -fx-effect: dropshadow( three-pass-box , rgb(255, 255, 102) , 0,0,0,1 );

}

.combobox:hover{
    -fx-background-color: linear-gradient(#ffcc00 ,#ffff66);
    -fx-cursor:"pointer";
}

combobox:row-selection{
    -fx-pref-width: 110;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.button{
    -fx-cursor: pointer;
    -fx-font-weight: bold;
    -fx-padding:10px 4px;
    -fx-text-alignment: center;
    -fx-font-size: 16px;
    -fx-border-radius: 30;
    -fx-border-color: black;
    -fx-background-radius: 30;
    -fx-background-color: linear-gradient(#ffff66, #ffcc00);
    -fx-effect: dropshadow( three-pass-box , rgb(255, 255, 102) , 0,0,0,1 );
}

.button:hover{
    -fx-background-color: linear-gradient(#ffcc00 ,#ffff66);
    -fx-cursor: pointer;
}

.charge-btn{
    -fx-cursor: pointer;
    -fx-font-weight: bold;
    -fx-padding:10px 4px;
    -fx-text-alignment: center;
    -fx-font-size: 16px;
    -fx-border-radius: 30;
    -fx-border-color: black;
    -fx-background-radius: 30;
    -fx-background-color: linear-gradient(#00cc44, #66ff99);
}

.charge-btn:hover{
    -fx-background-color: linear-gradient(#66ff99,#00cc44);
}

.withdraw-btn{
    -fx-cursor: pointer;
    -fx-font-weight: bold;
    -fx-padding:10px 4px;
    -fx-text-alignment: center;
    -fx-font-size: 16px;
    -fx-border-radius: 30;
    -fx-border-color: black;
    -fx-background-radius: 30;
    -fx-background-color: linear-gradient(#ff6666 ,#cc0000);
}

.withdraw-btn:hover{
    -fx-background-color: linear-gradient( #cc0000, #ff6666);
}

.label{
    -fx-text-fill: #3366ff;
    -fx-font-size: 40;
    -fx-font-family: "Bodoni MT";
    -fx-font-weight: bold;
}

#current_yaz_label_admin_scene{
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-font-family: "Arial";
}

#current_yaz_label_customers_scene
{
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-font-family: "Arial";
}

#welcome_label_cust_scene
{
    -fx-font-family: "Bell MT";
    -fx-font-size: 21px;
    -fx-text-fill: black;
    -fx-font-style: italic;
}

#welcome_label_admin_scene
{
    -fx-font-family: "Bell MT";
    -fx-font-size: 21px;
    -fx-text-fill: black;
    -fx-font-style: italic;
}